<!-- Mostrar en este HTML las respuestas de cada topic -->
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../vendors/semantic/semantic.min.css">
  <link rel="stylesheet" href="../css/main.css">
  <title></title>
</head>

<body>
  <header class="ui clearing segment">
    <div class="ui grid">
      <div class="ui ten wide column">
        <h3 class="ui right floated header">
          <i class="circular users icon"></i>
          Foro
        </h3>
      </div>
    </div>
  </header>
  <main>
    <section>
      <div class="ui container">
        <div class="ui comments margin-auto" id="container-comments-js">
          <br>
          <h3 class="ui dividing header">Tema individual</h3>
          <!-- Tema -->
        </div>
      </div>
    </section>
  </main>
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
  <script src="../vendors/semantic/semantic.min.js"></script>
  <!-- <script src="js/main.js"></script> -->
  <script src="../js/functions.js"></script>
  <script src="../js/verTopic.js"></script>

</body>

</html>
