.ui.comments.margin-auto {
  margin: auto;
}

/* .comments .form-comments-js {
  display: none;
} */

.hidden {
  display: none !important;
}

.content-block {
  display: block !important;
}

.ui.button.add-topic {
  margin-top: 10px;
}